<div class="panel panel-primary">
  <div class="panel-heading"><h4>{{ schema.title }}</h4></div>
  <table class="table">
    <tr>
      <td>{{ schema.description }}</td>
    </tr>
    <tr>
      <td ng-repeat="action in panel_actions" class="pull-right">
        <a class="btn btn-default" href="{{action.action_url}}">
          <i class="{{action.action_icon_class}}"></i>
          {{ action.action_text }}
        </a>
      </td>
    </tr>
  </table>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th> Property Name </th>
    <th> Description </th>
    <th> Data Type </th>
    <th> Human Name </th>
    <th> Example UI Widget </th>
    <th colspan="2"> Actions </th>
  </tr>
  <tr ng-repeat="(propertyName, property) in schema.properties">
    <td> {{ propertyName }} </td>
    <td> {{ property.description }} </td>
    <td> <span class="label label-warning"> {{ property.type }}</span</td>
    <td> <span class="label label-success">
        {{ data_type_detail[property.type].human_name }} </span>
    </td>
    <td>
      <div class="form-group">
        <div class="{{data_type_detail[property.type].widget}}">
          <input type="{{data_type_detail[property.type].widget}}" class="form-control">
        </div>
      </div>
    </td>
    <td ng-repeat="action in row_actions">
      <a class="btn btn-default" href="{{action.action_url}}">
        <i class="{{action.action_icon_class}}"></i>
        {{ action.action_text }}
      </a>
    </td>
  </tr>
</table>
